* {
    font-size:12px;
}

html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
}

/* GENERICS */
.hidden {
    display: none;
}

/* NAVIGATION SCHEMA */
#nav-container {
    position:fixed;
    height:100%;
    width:70px;
    background-color: rgba(79,79,79,0.7);
    top:0;
    left:0;
    z-index:3;
    cursor: pointer;
}

.nav-logo {
    box-sizing:border-box;
    color:rgb(255, 255, 255);
    cursor:pointer;
    display:table;
    font-family:acumin-pro, sans-serif;
    font-size:16px;
    font-stretch:100%;
    font-style:normal;
    font-weight:700;
    height:39.6875px;
    line-height:19.696px;
    margin-bottom:0px;
    margin-left:13px;
    margin-right:13px;
    margin-top:40px;
    opacity:1;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    pointer-events:auto;
    position:relative;
    text-decoration-thickness:auto;
    text-size-adjust:100%;
    transition-delay:0.4s, 0s;
    transition-duration:0.3s, 0.3s;
    transition-property:opacity, color;
    transition-timing-function:ease, ease;
    user-select:none;
    width:44.9844px;
    -webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.nav-logo::after {
    content: '';
    position: absolute;
    right: 11px;
    bottom: 8px;
    left: 11px;
    height: 2px;
    background-color: #fff;
    transition: background-color .3s;
}

#nav-text {
    color: white;
    font-size: 1.5rem;
    writing-mode: vertical-lr;
    height:300px;
    width: 70px;
    -webkit-writing-mode: vertical-lr;
    transform:rotate(180deg);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 150px);
}

.nav-burger {
    opacity: 1;
    transition: opacity .3s .4s, color .3s;
    position: absolute;
    left: 13px;
    bottom: 50px;
    width: 44px;
    height: 38px;
    cursor: pointer;
}

.nav-burger-bars {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: top .3s .05s, transform .2s, opacity .15s .05s, background-color .3s;
}

.nav-burger-bars:nth-child(1) {
    top:10px;
}

.nav-burger-bars:nth-child(2) {
    top:15px;
}

.nav-burger-bars:nth-child(3) {
    top:20px;
}

.nav-burger-bars:nth-child(4) {
    top:25px;
}
/* CAMERA SCHEMA */
#camera, #camera--view, #camera--snapshot, #camera--output, #camera--sensor {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--snapshot, #camera--output {
    transform: scaleX(-1);
    filter: FlipH;
}

#camera--snapshot {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#camera--trigger {
    padding: 20px 50px 0px 50px;
    background-color: rgba(79,79,79,0.7);
    border: 1px solid white;
    border-radius: 5%;
    bottom:20px;
    position:fixed;
    left:calc(50% - 150px);
}

#camera--trigger p {
    color: white;
    font-size: 2rem;
}

.taken {
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top:20px;
    right:20px;
    z-index:2;
}
