* {
    font-size:12px;
}

html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    overflow: hidden;
}

th, td {
    border: 1px solid white;
}

table {
    color: white;
}

/* ICONS */

/* RECORD ICON */
.outer-circle {
    width: 80px;
    height: 80px;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, 20%);
}

.outer-record-circle-container {
    width: 85px;
    height: 85px;
    z-index: 2;
}

.outer-record-circle {
    width: 85px;
    height: 85px;
    border: 1px solid white;
    border-radius: 50%;
}

.outer-record-circle-onhover {
    width: 90px;
    height: 90px;
    border: 1px solid white;
    border-radius: 50%;
}

.inner-record-icon-container {
    width: 85px;
    height: 85px;
    z-index: 3;
}

.inner-record-icon-circle {
    width: 30px;
    height: 30px;
    background-color: white;
    color: white;
    border-radius: 50%;
}

.inner-record-icon-circle-onhover {
    width: 34px;
    height: 34px;
    background-color: white;
    color: white;
    border-radius: 50%;
}

.inner-record-icon-square {
    width: 30px;
    height: 30px;
    border-radius: 10%;
}

/* GENERICS */
.hidden {
    display: none;
}

.absolute {
    position: absolute;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

/* NAVIGATION SCHEMA */
#nav-container {
    position:fixed;
    height:100%;
    width:70px;
    background-color: rgba(0,0,0);
    top:0;
    left:0;
    z-index:9000;
    cursor: pointer;
}

.nav-logo {
    box-sizing:border-box;
    color:rgb(255, 255, 255);
    cursor:pointer;
    display:table;
    font-family:acumin-pro, sans-serif;
    font-size:16px;
    font-stretch:100%;
    font-style:normal;
    font-weight:700;
    height:39.6875px;
    line-height:19.696px;
    margin-bottom:0px;
    margin-left:13px;
    margin-right:13px;
    margin-top:40px;
    opacity:1;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    pointer-events:auto;
    position:relative;
    text-decoration-thickness:auto;
    text-size-adjust:100%;
    transition-delay:0.4s, 0s;
    transition-duration:0.3s, 0.3s;
    transition-property:opacity, color;
    transition-timing-function:ease, ease;
    user-select:none;
    width:44.9844px;
    -webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.nav-logo::after {
    content: '';
    position: absolute;
    right: 11px;
    bottom: 8px;
    left: 11px;
    height: 2px;
    background-color: #fff;
    transition: background-color .3s;
}

#nav-text {
    color: white;
    font-size: 1.5rem;
    writing-mode: vertical-lr;
    height:300px;
    width: 70px;
    -webkit-writing-mode: vertical-lr;
    transform:rotate(180deg);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 150px);
}

.nav-burger {
    opacity: 1;
    transition: opacity .3s .4s, color .3s;
    position: absolute;
    left: 13px;
    bottom: 50px;
    width: 44px;
    height: 38px;
    cursor: pointer;
}

.nav-burger-bars {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: top .3s .05s, transform .2s, opacity .15s .05s, background-color .3s;
}

.nav-burger-bars:nth-child(1) {
    top:10px;
}

.nav-burger-bars:nth-child(2) {
    top:15px;
}

.nav-burger-bars:nth-child(3) {
    top:20px;
}

.nav-burger-bars:nth-child(4) {
    top:25px;
}

#nav-open {
    position: absolute;
    width:calc(100vw - 100px);
    height:100vh;
    background-color: rgba(0,0,0,0.9);
    top: -100vh;
    left: 0;
    z-index: 8999;
    display: flex;
    align-items: center;
    padding-left: 100px;
    -webkit-transition: top .0.5s ease;
    -moz-transition: top .0.5s ease;
    transition: top .0.5s ease;
}

#nav-items {
    list-style: none;
    height: clamp(320px, 75vh, 100vh);
    margin-left: 70px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

#nav-items li {
    font-size: 5rem;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 0.035em;
}

/* APP CONTAINER */

#app-container {
    position:absolute;
    right: 0;
    width: 100vw;
    height:100vh;
    z-index: 3;
}

/* COUNTER APP */
.stats-window {
    border: 1px solid white;
    padding: 10px;
    height: 200px;
    margin: 20px;
    position: relative;
    right: 0;
}

.stats-table-text {
    font-size: 2rem;
}

#stats-table {
    margin: 20px;
    position: relative;
    right: 0;
}

/* SCANNER APP */

.right-app-menu {
    position: absolute;
    width:300px;
    height:100vh;
    background-color: rgba(79,79,79,0.7);
    top: 0;
    right: 0;
}

/* ISSUE APP */
#issue-app {
    position:absolute;
    width:calc(100vw - 70px);
    height:100vh;
    top:0;
    left:70px;
    background-color: black;
    color: white;
}

/* CAMERA SCHEMA */
#camera, #camera--view, #camera--snapshot, #camera--output, #camera--sensor {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--snapshot, #camera--output {
    transform: scaleX(-1);
    filter: FlipH;
}

#camera--snapshot {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#camera--trigger {
    position:relative;
    padding: 20px 50px 0px 50px;
    background-color: rgba(79,79,79,0.7);
    border: 1px solid white;
    border-radius: 5%;
    top:calc(50vh - 118px);
    left:22px;
    z-index:4;
}

#video--record--trigger {
    width: 300px;
    position: absolute;
    bottom: 90px;
}

#video--record--trigger:active {
    opacity: 1;
}
#camera--output {
    z-index:4;
}

#camera--trigger p {
    color: white;
    font-size: 2rem;
}

.taken {
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top:20px;
    right:320px;
    z-index:2;
}
